<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Senins" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Senins" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>


  <nav class="navbar navbar-light bg-faded ">
    <a class="navbar-brand" href="./index.html">
      <strong>Seneca Insurance</strong>
    </a>
    <div class="nav navbar-nav">
      <a class="nav-item nav-link" href="./spreadsheet.html">Spreadsheet</a>
      <a class="nav-item nav-link" href="./introduction.html">Video</a>
    </div>
  </nav>

  <div class="jumbotron">
    <h1 class="display-3 text-xs-center">Seneca Insurance Co.</h1>
    <p class="lead">The Seneca Insurance Company is established a small business company. Our company is providing the best services of insurances to all clients in Toronto area. Recently, we upgraded new systems for providing better services. We promise the clients will be satisfied their claims by our new systems.</p>
    <p class="lead text-xs-center">
      <a class="btn btn-success btn-lg" href="./introduction.html" role="button">Learn more</a>
    </p>
  </div>


  <div class="container">
    <p>1750 Finch Ave E, North York,
      <br>
      ON M2J 2X5
      <br>
      December 02, 2016
      <br>
      Ms. Helen Jones
      <br>
      President
      <br>
      Seneca Insurance Company
      <br>
      70 The Pond Rd, North York,
      <br>
      Toronto, Ontario
      <br>
      M3J 3M6
    </p>
    <p>
      Dear Employees:
      <br>
      <br>
      Seneca Insurance Company, your insurance representatives for making claims on your insurances, announces the
      latest in high country hiking boots. The management has decided to upgrade all desktop machines to the Windows
      10 operating system, this would increase our efficiency and reach more customers from all over the globe create
      a client\server network configuration using Windows Server 2012.

      Also, management has purchased new web based reporting software, so clients can submit accident claims over the
      Internet, this would reduce the amount of phone calls we get, more complaints and incidents would be sent via
      emails. A contract has been signed with IBM who will provide us with hosting services and cloud storage.

      A budget of $110,000 for the purchase of a server, buying new workstations, and licensing of software has been
      approved by management. It is important to management that a "state of the art" corporate image be created with
      the latest technology for computers, monitors, and other hardware. Again, I want to thank you for your years of
      friendship and support. If there is anything I can help you with, questions, comments; please let me know.

      <br>
      <br>
      Sincerely,
      <br>
      John Doe
      Administrative Assistant
    </p>
  </div>

  </body>
</html>
